/* Home Page Navbar Border Start */
.nav-link {
    color: rgb(0, 0, 0) !important;
    font-weight: 600;
}

.nav-link:hover {
    color: rgb(255, 0, 0) !important;
}

.active {
    color: rgb(231, 93, 0) !important;
    font-weight: 700;
}

@media screen and (min-width: 992px) {
    .custom-border-right {
        border-right: 1px solid rgb(179, 179, 179);
    }
}

@media screen and (max-width: 992px) {
    .custom-border-right {
        border-bottom: 1px solid rgb(179, 179, 179);
    }

    .nav-link {
        padding-bottom: 5px !important;
    }
    .cart-btn {
        margin-top:15px;
    }
}
/* Home Page Navbar Border Close */
