/* Home Page Navbar Border Start */
.nav-link {
    color: rgb(0, 0, 0) !important;
    font-weight: 600;
}

.nav-link:hover {
    color: rgb(255, 0, 0) !important;
}

.active {
    color: rgb(231, 93, 0) !important;
    font-weight: 700;
}

@media screen and (min-width: 992px) {
    .custom-border-right {
        border-right: 1px solid rgb(179, 179, 179);
    }
    .custom-border-left {
        border-left: 1px solid rgb(179, 179, 179);
    }

}

@media screen and (max-width: 992px) {
    .custom-border-right {
        border-bottom: 1px solid rgb(179, 179, 179);
    }
    .custom-border-bottom {
        border-bottom: 1px solid rgb(179, 179, 179);
    }

    .nav-link {
        padding-bottom: 5px !important;
    }
    .cart-btn {
        margin-top:15px;
    }
}
/* Home Page Navbar Border Close */





.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}
.thumbnail img {
    width: 80%;
}
.thumbnail .caption{
    margin: 7px;
}
.main-section{
    background-color: #F8F8F8;
}
.dropdown{
    float:right;
    padding-right: 30px;
}
.btn{
    border:0px;
    margin:10px 0px;
    box-shadow:none !important;
}
.dropdown .dropdown-menu{
    padding:20px;
    top:30px !important;
    width:450px !important;
    left:-110px !important;
    box-shadow:0px 5px 30px black;
}
.total-header-section{
    border-bottom:1px solid #d2d2d2;
}
.total-section p{
    margin-bottom:20px;
}
.cart-detail{
    padding:15px 0px;
}
.cart-detail-img img{
    width:100%;
    height:100%;
    padding-left:15px;
}
.cart-detail-product p{
    margin:0px;
    color:#000;
    font-weight:500;
}
.cart-detail .price{
    font-size:12px;
    margin-right:10px;
    font-weight:500;
}
.cart-detail .count{
    color:#C2C2DC;
}
.checkout{
    border-top:1px solid #d2d2d2;
    padding-top: 15px;
}
.checkout .btn-primary{
    border-radius:50px;
    height:50px;
}
.dropdown-menu:before{
    content: " ";
    position:absolute;
    top:-20px;
    right:140px;
    border:10px solid transparent;
    border-bottom-color:#fff;
}

[v-cloak] { display: none; } /* Display none for vue success or error message div hide when page load */
